# Disallow everything

*

# Allow specific files

!.gitignore
!.gitattributes
!LICENSE
!Dockerfile

# Allow file types + subdirectories

!**/README.md

!sh/
!sh/grading-wrapper

!exercise/
!exercise/**/
!exercise/**/Project.toml
!exercise/**/Manifest.toml
!exercise/**/*.jl
